{% extends 'base.html' %}
{% load static %}
{% block content %}
<section>
    <article>
        <h1>Menu item</h1>
        <!--Begin row-->

        <div class="row">
            <!--Begin col-->
            <div class="column">
                <h2>
                    {{menu_item.Title}}
                </h2>
                <p>
                    {{ menu_item.menu_item_description }}
                </p>
                <p>
                    Price: ${{ menu_item.Price }}
                </p>
            </div>
            <!--End col-->
            <!--Begin col-->
            <div class="column">
                <img src="{% static 'img/'%}{{menu_item.Title}}.jpg" alt="{{menu_item.Title}}" />
            </div>
            <!--End col-->
        </div>
        <!--End row-->

    </article>
</section>
{% endblock %}